@media only screen and (max-width: 995px) {
  .editor {
    height: 62vh;
    margin-left: 0px;
  }
  .editorbox {
    height: 65vh;
  }
  .col1 {
    margin-bottom: 4px;
  }
  .row .col {
    height: auto;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 75%;
}

/* .output {
  max-height: 77vh;
} */

.editor {
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
}
.editorbox {
  width: 100%;
}
.col1 {
  min-width: 60%;
}
.outputResult {
  max-height: 76vh;
  overflow: auto;
}
